*{
	color: black;
}

*:not(.txt){
	color: #848282;
}

#pp {
	background-image: url("images.jpg");
}

p:first-line {
	font-size: 2em;
}

p:first-letter {
	color: red;
}

strong {
	text-decoration: underline;
}

em {
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

a:hover{
	color: green;
}